{% extends 'base.html' %}
<link rel="stylesheet" href="{{url_for('static' ,filename='css/style.css')}}">




   
 




{% block content %}

<h4 style="font-family: 'Dancing Script';"> {{data.quote}} 
    {% if data.author%}
    by <span style="color:cadetblue"> {{data.author}}  </span> </h4>
    {%endif%}

<div class="row">
    <div class="col-lg-6">



{% for post in posts%}

<article class="media content-section" style="margin-top: 20px;">
    <img src="{{url_for('static',filename = 'img/' + post.rel.image_file)}}" alt="" srcset="" class="rounded-circle"
        style="height: 100px;width: 100px;">
    <div class="media-body">
        <div class="article-metadata">


            
            <h2 class="article-title"><a href="{{url_for('change',post_id = post.id)}}">{{post.title}} </a></h2>
            <p class="article-content">{{post.content}}</p>
            <small  > <a href="{{url_for('change',post_id = post.id)}}"> Comment </a>  </small><br> 
            <small> <a href="http://" class="mr-2"> {{post.rel.username}}</a> </small>
            <small class="text-muted"> posted on {{post.date.strftime('%B %d,%Y')}}</small>
           
    


        </div>

    </div>


</article>



{% endfor %}
</div>

<div class="col-lg-6">
<img src="{{url_for('static',filename = 'img/blog.jpg')}}" alt="" srcset="">
<hr>
<a href="{{url_for('registration')}}  ">  <img src="{{url_for('static',filename = 'img/sub.jpeg')}}" alt="" srcset="" style="height: 150px; width: 250px;">  </a><br>
<hr>
<img src="{{url_for('static',filename = 'img/twitter.jpeg')}}" alt="" srcset="" style="height: 150px; width: 250px;"><br>
<hr>
<img src="{{url_for('static',filename = 'img/facebook.png')}}" alt="" srcset="" style="height: 150px; width: 250px;">


</div>

</div>


{% endblock %}
